<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RentCarPrj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RentCarPrj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RentCarPrj.Properties.Settings.RentCarConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=RentCar;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <RentCarPrj.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </RentCarPrj.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <RentCarPrj.Properties.Settings>
      <setting name="SMSLibrary_SMSService_WebService" serializeAs="String">
        <value>http://parsasms.com/webservice/v2.asmx</value>
      </setting>
      <setting name="RentCarPrj_com_parsasms_v2" serializeAs="String">
        <value>http://parsasms.com/webservice/v2.asmx</value>
      </setting>
    </RentCarPrj.Properties.Settings>
  </applicationSettings>
</configuration>
